<!DOCTYPE html>
<html>
  <head>
    <title>WallView</title>
    <link rel="stylesheet" href="./css/style.css">	
	<link rel="stylesheet" href="./css/bootstrap.min.css">
  </head>
  <body>   
    <script type="application/dart" src="../../SocialWall.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
    <h1>Social wall</h1>
		<!--<div class="progress progress-striped active">
        	<div class="progress-bar" style="width: 45%"></div>
    	</div>-->
		<div class="row social-list" id="posts">
			<!-- post -->
      <div class="post-template">
			 <h2>post #1</h2>
			 <blockquote class="clearfix">
				<p>
					<a href="#" title="#gdgslc">#gdgslc</a> lorempisum
				</p>
				<small>posted by @humitch</small>
			 </blockquote>
      </div>
			<!-- /post -->
		</div>
  </body>
</html>
